@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-logo-blue-500: #0076bd;
  --color-logo-blue-800: #004b79;
  --color-sp-green-500: #a8ccc4;
  --color-sp-lb-500: #cae0ea;
  --color-sp-lg-500: #cccccc;
  --color-sp-lb-900: #4790b2;
  --color-sp-lb-600: #a1c8da;
  --breakpoint-smd: 44rem;
  --font-Raleway: "Raleway";
}
